*{
    margin: 0;
    padding: 0;
}
.row{
    .n-level{
        padding: 5rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    #n-level-5{
        background-image: url('./images/n5-tab.png');
    }
    #n-level-4{
        background-image: url('./images/n4-tab.png');
    }
    #n-level-3{
        background-image: url('./images/n3-tab.png');
    }
    #n-level-2{
        background-image: url('./images/n2-tab.png');
    }
}